@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Hello Boopathi Welcome to the World of Azure 1 !</h3>
</div>
